body{
    font-family: Arial;
    background-color: #223;
    color: white;
}


#content{
    width: 38em;
    margin: 10em auto;
}
#content{
    text-align: justify;
}

#content .ad{
    font-size:1.5em;
    margin: 2em 0;
text-align: right;

}


#content .ad a{
    background-color: white;
    font-size: 15px;
    padding: 8px;
    border: 3px solid black;
    color: black;
    outline: 2px solid whitesmoke;
    transition: outline-offset 250ms ease;
    

    text-decoration: none;
    margin-left: 0.5em;
}
#content .ad a:hover,
#content .ad a :focus {
    outline-offset: 3px;
}




/*modal*/

#modal{
    background-color:#678;
    padding: 0.5em;

    display: none;
    position: fixed;
    top:15em;

    left: 8em;
    right: 10.5em;
    z-index: 1;
    
}
#modal:target{
    display: block;

}
#modal input {
    padding: 0.9em;
    width: 21.8em;
    text-align: center;
    
}
#modal input:hover{
    background-color: wheat;
}
#modal button {
    padding: 1em;
    width: 23.8em;
}
#modal button:hover {
    background-color: #789;
    
}

#modal a {
    color:white;
  text-decoration: none;
    font-size: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.05em;

    
}
#modal a:hover{
    color:#234;
}
#modal:target+ .overlay{
    position: fixed;
    width: 50em;
    height: 50em;
    background-color: #000A;
    top: 0;
    left: 0;
}
.fix{
    position:fixed;
    width: 50px;
    
    margin-left: 0.5em;
    margin-top: 2em;
    
    border: none;


}
.fix:hover{
    background-color: silver;
}


    

    
    
    